body
{
	font-family: serif;
	background: white;
}
#controls{
	/*position:absolute;*/
	height:3em;
	top:0em;
	width:98%;
}
@media print
{
	#controls{display:none;}
}
@media screen
{
	#content{
		width: 511pt;
	/*about the page width http://stackoverflow.com/questions/320357/safe-width-in-pixel-for-printing-web-pages*/
		height: 714pt;
		margin: auto;
		overflow:hidden;
		border: 1px dashed green;
	}
}
#content{
    column-count: 2;
    padding-top: 0.2em;
}
h1{
	margin-left:1em;
	margin-right:1em;
	margin-bottom: 0em;
	margin-top: 0em;
}
h2{
	font-family:monospace;
	font-size:2em;
	margin-top:0em;
	margin-bottom:0em;
}


.box:last-child,
.box:last-child > div{
	margin-bottom:0em;
}

.box.wide {
    column-span: all;
}
.box.short > div{height: 4em;}
.box.tall > div{height: 26em;}
.box.noContent > div{height: 0;border-bottom: 0;border-right: 0;border-left: 0;}
div.box{
	-webkit-column-break-inside: avoid;
	width: 100%;
	padding-top: 1em;
	margin-bottom: 0.4em;
	padding-bottom: 0.4em;
}
div.box > div{
	border: 1px solid black;
	margin-bottom: 1em;
	padding-top: 1em;
    padding-left:1em;
    padding-right:1em;
	height: 18em;
}
div.box > div > h2{
	margin-top: -1.2em;
	margin-bottom: -0.5em;
	padding: 0.1em;
	padding-bottom: 1em;
	margin-left: 0.5em;
	background: white;
	width: fit-content;
	z-index: 5;
}
ul, ol{
	margin-block-start: 0em;
	padding-inline-end: 0.5em;
}
li{
    /* margin: 0; */
    /* padding-left: 0; */
    border-bottom: 1.4px dashed #d8d8d8;
    height: 1.5em;
    box-sizing: border-box;
}
li:before{
	content: " ";
}
ul.check li:before {
    content: "☐";
    position: absolute;
    left: 3em;
    height: 0.1em;
    margin-top: 0.3em;
}
ul.check  li{
    list-style: none;
    padding-top: 0em;
}
li span{
	width:100%;
	display:block;
}
 
